<div class = "sign_up_form">
  <div class ="sign_up_form_inner">
    <div class = "sign_up_title"><h2>新規登録</h2></div>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
        <%= f.label :radioname, "ラジオネーム" %><br />
        <%= f.text_field :radioname, autofocus: true, autocomplete: "radioname" %>
      </div>
    
      <div class="user_infomation_field">
        <div class="user_address">
          <%= f.label :address, "住所（都道府県）" %>
          <%= f.select :address, 
            [["--未選択--",0],["北海道",1],["青森県",2],["岩手県",3],["宮城県",4],["秋田県",5],["山形県",6],["福島県",7],
            ["茨城県",8],["栃木県",9],["群馬県",10],["埼玉県",11],["千葉県",12],["東京都",13],["神奈川県",14],
            ["新潟県",15],["富山県",16],["石川県",17],["福井県",18],["山梨県",19],["長野県",20],
            ["岐阜県",21],["静岡県",22],["愛知県",23],["三重県",24],
            ["滋賀県",25],["京都府",26],["大阪府",27],["兵庫県",28],["奈良県",29],["和歌山県",30],
            ["鳥取県",31],["島根県",32],["岡山県",33],["広島県",34],["山口県",35],
            ["徳島県",36],["香川県",37],["愛媛県",38],["高知県",39],
            ["福岡県",40],["佐賀県",41],["長崎県",42],["熊本県",43],["大分県",44],["宮崎県",45],["鹿児島県",46],["沖縄県",47]], 
            class: "address_field" %>
        </div>
        
        <div class="user_age">
          <%= f.label :age, "年齢" %>
          <%= f.number_field :age, min: 0, max: 150, autofocus: true, autocomplete: "age" %>
        </div>
        
        <div class="user_sex">
          <%= f.label :sex, "性別" %>
          <%= f.radio_button :sex, "男" %>男 <%= f.radio_button :sex, "女" %>女
        </div>
      </div>
      
      <div class="field">
        <%= f.label :image, "プロフィール画像(URL)" %><br />
        <%= f.email_field :image, autofocus: true, autocomplete: "image" ,class: "field_box" %>
      </div>
      
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "field_box" %>
      </div>
    
      <div class="field">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password",class: "field_box" %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation, "パスワード確認" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "field_box" %>
      </div>
    
      <div class="action">
        <%= f.submit "登録" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>

  </div>   
</div>